@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

::-webkit-scrollbar {
    width: 15px;
}

.container{ max-width: max-content;}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;

}

.titre-spe {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(80deg, #FF8C00, #FF4500, #FF6347, #FF1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: block;
    margin-bottom: 20px;
    padding: 5px 20px;
}



